.profileContainer {
    width: 350px;
    border: 2px solid #000000;
    border-radius: 12px;
    overflow: hidden;
    margin: 32px auto 48px auto;
}
.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    padding: 12px;
}
.profileImg {
    width: 150px;
    border-radius: 50%;
    background-color: #252525;
    margin-bottom: 12px;
}
.profileName {
    font-size: 28px;
    font-weight: 600;
}
.profileInfoText {
    font-size: 20px;
  font-weight: 400;
  color: #777777;
}
.profileStatsList {
    display: flex;
    border-top: 2px solid #777777;
    background-color: #c7c7c7;
}
.profileStatsListItem {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  border-right: 2px solid #777777;
  padding: 8px;
}
.profileStatsInfo {
    font-weight: 700;
}
.profileStatsListItem:last-child {
    border-right: none;
  }